body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.site-navigation .link,
.contacts .link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: block;
  margin-right: 92px;
  padding: 24px 0 25px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
}

.logo-second-part {
  color: #000000;
}

.modal-button, .hero-container .modal-button {
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation .items:not(:last-child),
.contacts .items:not(:last-child) {
  margin-right: 50px;
}

.site-navigation .link,
.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation .link:hover, .site-navigation .link:focus, .site-navigation .link:active,
.contacts .link:hover,
.contacts .link:focus,
.contacts .link:active {
  color: #2196f3;
  fill: #2196f3;
}

.site-navigation .link.active,
.contacts .link.active {
  color: #2196f3;
}

.site-navigation .link.active::after,
.contacts .link.active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-navigation .link {
  position: relative;
  display: block;
  color: #212121;
}

.contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}

.contacts .link .icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.hero-section {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/studio/hero/hero-background.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/studio/hero/hero-background.jpg");
}

.hero-container {
  width: 630px;
  height: 100%;
  margin: 0 auto;
  padding: 200px 0;
}

.hero-container .title {
  margin: 0 auto 22px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-container .modal-button {
  display: block;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 32px;
}
/*# sourceMappingURL=main.css.map */